################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Signals/.vs/Signals/v16
/Signals/ChartDirector/lib32
/Signals/Signals/Debug
/Signals/Signals/Release
/Signals/Signals/x64
/Signals/x64
*.png
/Signals/Signals/veroiatnosti.txt
/Signals/Signals/VTune Profiler Results/Signals
*.txt
Signals/ConsoleHelper/x64/Debug/ConsoleHelper.tlog/CL.write.1.tlog
Signals/ConsoleHelper/x64/Debug/ConsoleHelper.exe.recipe
Signals/ConsoleHelper/x64/Debug/ConsoleHelper.log
Signals/ConsoleHelper/x64/Debug/ConsoleHelper.obj
Signals/ConsoleHelper/x64/Debug/ConsoleHelper.tlog/CL.command.1.tlog
Signals/ConsoleHelper/x64/Debug/ConsoleHelper.tlog/CL.read.1.tlog
Signals/ConsoleHelper/x64/Debug/ConsoleHelper.tlog/ConsoleHelper.lastbuildstate
Signals/ConsoleHelper/x64/Debug/ConsoleHelper.tlog/link.command.1.tlog
Signals/ConsoleHelper/x64/Debug/ConsoleHelper.tlog/link.read.1.tlog
Signals/ConsoleHelper/x64/Debug/ConsoleHelper.tlog/link.write.1.tlog
Signals/ConsoleHelper/x64/Debug/vc142.idb
Signals/ConsoleHelper/x64/Debug/vc142.pdb
Signals/ConsoleHelper/x64/Release/ConsoleHelper.exe.recipe
Signals/ConsoleHelper/x64/Release/ConsoleHelper.log
Signals/ConsoleHelper/x64/Release/ConsoleHelper.obj
Signals/ConsoleHelper/x64/Release/ConsoleHelper.tlog/CL.read.1.tlog
Signals/ConsoleHelper/x64/Release/ConsoleHelper.tlog/CL.command.1.tlog
Signals/ConsoleHelper/x64/Release/ConsoleHelper.tlog/CL.write.1.tlog
Signals/ConsoleHelper/x64/Release/ConsoleHelper.tlog/ConsoleHelper.lastbuildstate
Signals/ConsoleHelper/x64/Release/ConsoleHelper.tlog/link.command.1.tlog
Signals/ConsoleHelper/x64/Release/ConsoleHelper.tlog/ConsoleHelper.write.1u.tlog
Signals/ConsoleHelper/x64/Release/ConsoleHelper.tlog/link.read.1.tlog
Signals/ConsoleHelper/x64/Release/ConsoleHelper.tlog/link.write.1.tlog
Signals/ConsoleHelper/x64/Release/vc142.pdb
